@tailwind base;
@tailwind components;

p {
  @apply leading-9

}

.slideIn {
  animation-duration: 1s;
  animation-name: slideinAnimation;
}

@keyframes slideinAnimation {
  from {
    margin-left: -100%;
    width: 10%;
  }


  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h1,h2,h3,h4,h5 {
  @apply text-stone-900
}

.topic-container {
  @apply bg-white w-full rounded-xl shadow-sm hover:shadow-lg transform transition  hover:-translate-y-1 duration-300  pr-20 mt-6 flex items-center
}
.topic-icon {
  @apply bg-stone-500 hover:bg-blue-400 w-20 px-2 py-3 rounded-l-xl flex items-center justify-center text-2xl
}
.topic-title {
  @apply text-base text-gray-700 font-bold pl-4
}

.tags-container {
  @apply bg-white rounded-md shadow-md p-6 mt-4 flex flex-wrap space-x-2
}

.tag {
  @apply bg-stone-500 text-stone-50 rounded-md hover:bg-stone-400 transform transition hover:-translate-x-0.5 duration-300 shadow-sm p-1 m-1 text-xs font-semibold
}

.footer-icon {
  @apply w-12 h-12 flex items-center justify-center text-2xl rounded-full bg-stone-700 hover:bg-stone-200 border border-stone-700 text-stone-100 hover:text-stone-600
}
@tailwind utilities;
